

html{ height:100%;background-color:#603899;/*brown */;color: #FFFFFF;font-family: Arial;text-decoration: none; }
body {margin-bottom:0 px;width:100%;height:100%;margin: auto; }
#bodyWrapped{margin: auto;width: 950px;}

h3{font-size: 16px;text-decoration: bold;}
h1{font-size: 21px;text-decoration: bold;}
h2{font-size: 18px;text	-decoration: bold;}
p{font-size: 13px;}
em{font-size: 12px;text-decoration: italic;}

/*********************************** style for the advertisement block **********************************/
.pub{font-size: 16px;color: #F1CC99;font-family: Arial;text-align: center;margin-bottom:30px;margin-top:7px;width: 950px;font-weight:none;}
/*border-bottom: 1px solid white;padding-bottom:15px;*/

/***************************************** To avoid dirty links *****************************************/
a:link{ text-decoration: none ;color: #FFFFFF;}  
a:visited {text-decoration:none;color: #FFFFFF;} 
a:active{text-decoration:none;color: #FFFFFF;}

/********************************** style for the main (central) block **********************************/
/***************************************** style for the header *****************************************/
#languageSelector{text-align:right;}
#language{font-size:13px;}
#language:hover{color: #F1CC99;text-decoration:underline;/* Beige*/;font-size:15px;}

/********************************** style for the main (central) block **********************************/
#main{border-top: 1px solid white;text-align:justify;padding-left:0px;padding-right:0px;display:inline-block;
		width:498px;vertical-align:top;margin-left:50px;margin-right:50px;}
.legende{font-size: 11px;color: #F1CC99;text-align:center;}
#titreNouvelle{border-top: 1px solid white;text-align: center;margin-top:15px;} /* separation between sections and news*/
.maxiNouvelle{border-top: 1px solid white;}
.maxiNouvelle >a> h2{text-align: center;font-size: 16px;color: #FFFFFF;font-style:normal;font-weight:bold;text-decoration: bold;
					 font-family: Arial;}
					 
a.linkMain{font-size: 13px;color: #F1CC99;text-decoration: none;font-family: Georgia;}/*blue : #99CCFF*/
a.linkMain:hover{text-decoration: underline;}
/************************************* style for the navigation menu ************************************/
nav{border-top: 1px solid white;display:inline-block;width:180px;vertical-align:top;margin-bottom: 20px;list-style: none} 
a.actif, a.inactif{text-decoration: none;display: block;padding-bottom: 7px;padding-left: 0px;padding-top :7px;
					padding-right: 0px;padding-left:5px;font-size:16 px }
a.actif:hover, .inactif:hover{background-color: #F1CC99;/* Beige*/color: #663333;/* Marron*/}
a.actif{color: #663333;background-color: #FFFFFF;}
a.inactif{color : #FFFFFF}

/************************************** style for the aside block ***************************************/
/* some properties (colour, backgroundcolour,font-family) are inherited from the the body selector */
aside{display:inline-block;width:160px;vertical-align:top;}
#headAside{padding-top:10px;padding-bottom:4px;border-top: 1px solid white;border-bottom: 1px solid white;}
.miniNouvelle{border-bottom: 1px solid white;}
a.linkAside{font-size: 11px;color: #99CCFF;text-decoration: none;font-family: Georgia;}
a.linkAside:hover{text-decoration: underline;}
.miniNouvelle h3{text-align: center;}

/************************************** style for the footer block **************************************/
footer{color:#FFFFFF;display:block;left: 0 ;right: 0;background-color:#664499;
width:inherit; margin:auto;margin-top: 20px;
} /* width 950px; width:100%; border-top: 1px solid white;*/
.footerwrapper{margin: auto;width: 950px;}
.footer1{display:inline-block;width:232.5px;vertical-align:top; text-align:center;margin:0px;
margin-left:0px;margin-right:0px;padding-left:0px;padding-bottom:5px;padding-top:5px;}

/*border-right: 1px solid white;*/

#reservationLink{padding-top:10px; margin-top:10px;padding-bottom:10px; margin-bottom:10px;background-color: #F1CC99;}
#reservationLink:hover{text-decoration: underline; background-color: #F1CC99;}

#nouvelleCounter{margin-top:10px;margin-bottom:10px; padding-bottom:5px;padding-top:5px;border : 1px solid white;margin-top:10px;
text-align:center;padding-left:2px;padding-right:2px;Line-Height:20px;}
#nouvelleCounter:hover{background-color: #664444;}
#nouvelleCounter>a:hover{color:#FFFFFF;}
